doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.scss")
        title Homework12
    body 
        .container
            header.header
                .header_nav
                    .header_nav_first
                        ul.header_ul
                            li Home 
                            li About
                            li Contact


            