doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap" rel="stylesheet")

        title Homework12
    body 
        .container
            header.header
                .header_nav
                    .header_nav_first
                        ul.header_ul
                            li
                                a(href="#") Home 
                            li 
                                a(href="#") About
                            li 
                                a(href="#")  Contact
                    p.header_nav_p  
                        a(href="#") Landie
                    button.header_nav_button 
                        a(href="") Buy Now

            main.first_wrap 
                .section_1
                    h1 Introduce Your Product Quickly & Effectively
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        br
                        br 
                        |mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.  
                    .fist_wrap_but
                        button 
                           a(href="#") Purchase UI Kit
                        button 
                           a(href="#") Learn More 
                .section_2 
                    img(src="./img/Group (1).png", alt="")
            
            main.second_wrap 
                .section_1 
                    h1 Light, Fast & Powerful
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        br
                        br
                        |mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    .section_1_title 
                        .title
                            img(src="", alt="")
                            h3 Title Goes Here
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        .title
                            img(src="", alt="")
                            h3 Title Goes Here
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                .section_2 
                    img(src="./img/undraw_mobile_login_ikmv.png", alt="")
            
            main.third_wrap
                .section_1 
                    img(src="./img/undraw_happy_news_hxmt.png", alt="")
                    .section_1_1
                        h2 Light, Fast & Powerful
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                          br
                          br
                          |mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                
                .section_2 
                    img(src="./img/undraw_social_influencer_sgsv (1).png", alt="")
                    .section_1_1
                        h2 Light, Fast & Powerful
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                          br
                          br
                          |mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                
                .section_3 
                    img(src="./img/undraw_mention_6k5d.png", alt="")
                    .section_1_1
                        h2 Light, Fast & Powerful
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                          br
                          br
                          |mus.  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        button.header_nav_button 
                            a(href="") Purchase Now 
            
            main.four_wrap
                .four_wrap_main 
                    h1 A Price To Suit Everyone
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                    h2 $40
                        br
                        .p_1| UI Design Kit
                    p.p_2 See, One price. Simple.
                    button.header_nav_button 
                        a(href="") Purchase Now

                footer.footer
                    .footer_section_1  
                        p ©2020 Yourcompany
                        p.header_nav_p  
                            a(href="#") Landie
                        button.footer_nav_button 
                            a(href="") Purchase Now
                    .footer_border
                    .footer_section_2
                        ul.footer_ul
                            li
                                a(href="#") Home 
                            li 
                                a(href="#") About
                            li 
                                a(href="#")  Contact 
                        .footer_img 
                            a(href="https://www.facebook.com/")
                                img(src="./img/Instagram Copy 4.png", alt="facebook")
                            a(href="https://www.linkedin.com/")
                                img(src="./img/Instagram Copy 3.png", alt="linkedin")
                            a(href="https://twitter.com/")
                                img(src="./img/Instagram Copy 2.png", alt="twitter")
                            a(href="https://www.youtube.com/")
                                img(src="./img/Instagram Copy.png", alt="youtube")
                            a(href="https://www.instagram.com/")
                                img(src="./img/Instagram.png", alt="instagram")




 


            