.container {
    width: 1600px;
        height: 4500px;
        background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
}
.header_nav {
  display: inline-flex;
    
}

.header_img_1 {
    padding-top: 62px;
    padding-left: 240px;
}
.header_nav ul li {
    display: inline;
    
}

.nav_li_1 {
    width: 53px;
        height: 30px;
        color: var(--2, #212353);
            font-family: 'Avenir';
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 160%;
            padding-left: 121px;
        
}
.nav_li_2 {
    color: var(--1, #4B5D68);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        padding-left: 40px;
}
.nav_ul {
    padding-top: 55px;
}
.nav_ul a {
    color: #4B5D68;
    text-decoration: none;
}
.nav_button {
    width: 210px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 50px;
            background: #FFF;
            box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
            color: var(--2, #212353);
                font-family: 'Roboto';
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 160%;
                letter-spacing: 0.08px;
                cursor: pointer;
                margin-top: 50px;
                margin-left: 418px;
                border-style: none;           
}

.nav_img_2 {
    width: 20px;
        height: 14px;
        flex-shrink: 0;
        padding-left: 20px;
}

.header_main_h1 {
    display: flex;
        width: 645px;
        height: 184px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--2, #212353);
            font-family: Helvetica;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
            margin-top: 147px;
            margin-left: 240px;
}
.header_main_p1 {
    display: flex;
        width: 380px;
        height: 120px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            margin-top: 50px;
            margin-left: 240px;
}
.header_main_button {
    width: 170px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 50px;
            background: var(--3, #9C69E2);
            border-style: none;
            color: #FFF;
                text-align: center;
                font-family: 'Roboto';
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 160%;
                cursor: pointer;
                margin-top: 50px;
                margin-left: 240px;
}
.header_main {
    position: relative;
    display: flex;
    flex-direction: column;
}
.header_main_img_1 {
    position: absolute;
    margin-left: 603px;
    margin-top: 240px;
}

.wrapper_1 {
width: 1117px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 50px;
        background: rgba(240, 99, 184, 0.15);
        margin-top: 100px;
        margin-left: 240px;
        display: flex;
}
.wrapper_1_h1 {
    display: flex;
        width: 475px;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 125px;
        margin-left: 62px;
        margin-bottom: 50px;
}
.wrapper_1_p {
    display: flex;
        width: 474px;
        height: 170px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
                    margin-left: 62px;
}
                   
.wrapper_1_2 {
    display: flex;
    flex-direction: column;
}

.wrapper_2_1_h1 {
    display: flex;
        width: 405px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #212353;
            text-align: center;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            margin-left: 596px;
}
.wrapper_2_1_p {
    display: flex;
        width: 584px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            text-align: center;
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            margin-left: 507px;
            margin-top: 50px;    
}

.wrapper_2_1 {
    margin-top: 150px; 
    margin-bottom: 150px;
}

.wrapper_2_2 {
    display: flex;
    flex-wrap: wrap;
}

.wrapper_2_col_1 {
    display: flex;

    margin-left: 239px;
}
.wrapper_2_col_1_text {
    margin-left: 30px;
}
.wrapper_2_2_img_1 {
    padding-top: 55px;
}

.wrapper_2_col_1_text_h3 {
display: flex;
    width: 200px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #212353;
        font-family: Helvetica;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
}
.wrapper_2_col_1_text_p {
    display: flex;
        width: 220px;
        height: 160px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
}
.wrapper_2_col_1_text_b {
    color: var(--2, #212353);
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 160%;
        letter-spacing: 0.08px;
        cursor: pointer;
        border-style: none;
        background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
        padding-right: 20px;
}

.wrapper_2_col_1_text_b img {
    padding-left: 20px;
    
}

.wrapper_2_col_2 {
    margin-left: 93px;
    display: flex;
}

.wrapper_2_col_2_text_h3 {
    display: flex;
        width: 200px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #212353;
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
}
.wrapper_2_2_img_2 {
        padding-top: 30px;
        padding-bottom: 25px;       
}
.wrapper_2_col_2_text_p {
    display: flex;
        width: 220px;
        height: 160px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
}
.wrapper_2_col_2_text {
    margin-left: 33px;
}

.wrapper_2_col_3 {
    display: flex;
    margin-left: 220px;
    margin-top: 206px;
}
.wrapper_2_col_3_text_h3 {
    display: flex;
        width: 200px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #212353;
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
}
.wrapper_2_col_3_text_p {
    display: flex;
        width: 220px;
        height: 160px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
}
.wrapper_2_col_3_text {
    margin-left: 33px;
}
.wrapper_2_2_img_3 {
    padding-top: 60px;
}

.wrapper_2_col_4 {
    display: flex;
    margin-top: 206px;
    margin-left: 98px;
}
.wrapper_2_col_4_text_h3 {
    display: flex;
        width: 200px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #212353;
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
}
.wrapper_2_col_3_text_p {
    display: flex;
        width: 220px;
        height: 160px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
}
.wrapper_2_col_4_text {
        margin-left: 33px;
}
.wrapper_2_2_img_4 {
    padding-top: 50px;
}

.wrapper_3 {
    width: 1118px;
        height: 709px;
        flex-shrink: 0;
        border-radius: 50px;
            background: var(--3, #9C69E2);
            margin-top: 183px;
            margin-left: 242px;
            
}
.wrapper_3_h1 {
    display: flex;
        width: 405px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            padding-top: 109px;
            padding-left: 93px;
}
.wrapper_3_bio {
    width: 949px;
        height: 330px;
        flex-shrink: 0;
        border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 20px 0px 0px rgba(156, 105, 226, 0.30);
            margin: 88px 76px 60px 93px;
            display: flex;
}
.wrapper_3_bio_img {
    width: 132.419px;
        height: 90px;
        flex-shrink: 0;
        border-radius: 132.419px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat, #F063B8;
            margin: 60px 44px 60px 103px;
}
.wrapper_3_h3 {
    
        width: 250.124px;
        color: var(--2, #212353);
            font-family: 'Roboto';
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: 160%;
            letter-spacing: 0.09px;
            padding-bottom: 0;
            margin-top: 80px;
}
.wrapper_3_a {
    text-decoration: none;
    color: var(--3, #9C69E2);
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0.14px;
}
.wrapper_3_p {
    display: flex;
        width: 566.457px;
        height: 130px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: "Roboto";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
}
.wrapper_3_footer {
    display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.wrapper_3_img {
    width: 55px;
        height: 10px;   
        margin-left: 93px;  
}
.wrapper_3_img_2 {
    margin-right: 76px;
}

.footer_fist {
    margin-top: 150px;
    padding-top: 100px;
    display: flex;
}

.footer_fist h1 {
    display: flex;
        width: 405px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #212353;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            padding-left: 240px;
}

.footer_fist p {
    display: flex;
        width: 584px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--1, #4B5D68);
            font-family: "Roboto";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            padding-left: 240px;
}

.footer_fist {
    display: flex;
    justify-content: space-between;
}

.footer_first_b1 {
width: 170px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
        background: var(--4, #F063B8);
        cursor: pointer;
        border-style: none;
        color: #FFF;
            text-align: center;
            font-family: "Roboto";
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: 160%;
}

.footer_fist .nav_button {
    margin-left: 30px;
    margin-right: 243px;
}

.footer_last_col_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.footer_col_1_img {
    display: flex;
    align-items: center;
    margin-left: 240px;
    margin-top: 150px;
}
.footer_last_col_1_h3 {       
        width: 153px;
        height: 30px;
        color: var(--2, #212353);
            font-family: "Roboto";
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: 160%;
            padding-left: 20px;           
}
.footer_last_col_1_img {
    width: 49px;
        height: 35px;
        flex-shrink: 0;
}

.footer_last_col_1_2 {
    margin-left: 240px;
}
.footer_last_col_1_2_p1 {
    
        width: 335px;
        height: 65px;
        color: black;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 180%;
            letter-spacing: 0.16px;
            padding-left: 105px;
}
.footer_last_col_1_2_p2 {
    width: 335px;
        height: 60px;
        color: var(--2, #212353);
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            letter-spacing: 0.16px;
                        padding-left: 105px;
                        cursor: pointer;
}

.footer_last_col_1_2_p3 {
    width: 360px;
        height: 50px;
        color: var(--2, #212353);
            font-family: "Roboto";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            letter-spacing: 0.12px;
            padding-left: 360px;
            padding-top: 118px;
}

.footer_last {
    display: flex;
}

.footer_last_col_2_h3 {
    display: flex;
        width: 51.753px;
        height: 30px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--2, #212353);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 160%;
            padding-top: 158px;
            padding-left: 253px;
}
.footer_last_col_2_p {
    display: flex;
        width: 166px;
        height: 160px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--2, #212353);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 250%;
            margin-left: 250px;
}
.footer_last_col_2_p a {
    text-decoration: none;
}


.footer_last_col_3_h3 {
display: flex;
width: 51.753px;
height: 30px;
flex-direction: column;
flex-shrink: 0;
color: var(--2, #212353);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 160%;
    padding-top: 156px;
    padding-left: 50px;
}
.footer_last_col_3_p {
    display: flex;
        width: 166px;
        height: 190px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--2, #212353);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 250%;
            margin-left: 48px;
}
.footer_last_col_3_p a {
    text-decoration: none;
}

.footer_last_col_4_h3 {
    display: flex;
        width: 170px;
        height: 30px;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--2, #212353);
            font-family: 'Roboto';
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 160%;
            padding-top: 156px;
            padding-left: 55px;
}
.col_4_img_1 {
    padding-top: 30px;
    padding-left: 50px;
    cursor: pointer;
}
.col_4_img_2 {
   padding-left: 200px;
   padding-top: 208px;
   cursor: pointer;
}
.footer_last_col_4 {
    margin-bottom: 100px;
}